

      <section id="main">
        <div class="container">
            <h3>Post a Comment</h3>
            <%= form_for  @comment do |f| %>

            <%= f.text_area :content %><br>

            <%= f.hidden_field :user_id %>

            <%= f.hidden_field :post_id %>

            <%= f.submit 'Submit' %>
            <% end %>
          </div>
        </section>
