<!DOCTYPE html>
  <html>
    <head>
      <title>Feedit</title>
      <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track' => true %>
    </head>
  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Edit Settings", edit_user_path(@user) %></li>
      <li><%= link_to('Logout', {controller: 'sessions', action: 'destroy'},  method: 'post') %></li>
      <li><%= link_to "New Subfeed", new_subfed_path %></li>
    </ul>
  <div class = "middle">
    <aside class="left-sidebar">
        <%= @user.username %><br>
    </aside>
  </div>

  </body>
</html>
