<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    <%= stylesheet_link_tag 'main' %>
		<title>Feddit</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="left-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><%= link_to "Feddit", root_path %></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
                <li><%= link_to "Subfeeds", subfeds_path %></li>
                <li><%= link_to "Posts", posts_path %></li>
								<li class="current"><%= link_to "Edit Settings", edit_user_path(@user) %></li>
                <li class="current"><%= link_to('Logout', {controller: 'sessions', action: 'destroy'},  method: 'post') %></li>
						<!--		<li><a href="right-sidebar.html">Right Sidebar</a></li> -->
						<!--	<li><a href="no-sidebar.html">No Sidebar</a></li> -->
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Login Sidebar -->
									<section class="box">
										<header>
											<h3><%= @user.username %></h3>
										</header>
											<ul class="divided">
												<% @user.settings.each do |user| %>
													<li>Bio: <%= user.bio%></li>
													<li>Age: <%= user.age%></li>
													<li>Location: <%= user.location %></li>
													<% end %>
												</ul>
										<footer>
										</footer>
									</section>
              <!-- Subfed Sidebar -->
									<section class="box">
										<header>
											<h3>Subfeeds</h3>
										</header>
										<p>Choose A Category</p>
										<ul class="divided">
                      <% @recent_subfeds.each do |subfeed| %>
                          <li><%= link_to subfeed.title, subfed_url(subfeed) %></li>
                      <% end %>
										</ul>
										<footer>
											<%= link_to "Create New Subfeed", new_subfed_path, class: "button alt" %></a>
										</footer>
									</section>

							</div>


								<!-- Content -->
								<div class="col-8 col-12-medium imp-medium">
								<% @recent_posts.each do |post| %>
								<Section id="main">
								<div class="container">
								<div class="col-8 col-12-medium imp-medium">
								    <article class="box post">
								  <header>
								    <h2><%= link_to post.title %></h2>
								      <p>Created By: <%= post.user.username %></p>
								  </header>
								  <ul class="actions">
								    <li><%= link_to "Continue Reading", post_url(post), class: "button icon solid fa-file-alt"  %></li>
								  </ul>
								</article>
								</div>
								<% end %>
							</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<section>


							</div>
						</div>
					</div>
				</section>

		</div>



	</body>
</html>
