<h1>Edit your subfeed</h1>

<%= form_tag subfeds_path do %>
<%= form_errors_for @subfed %>

  <label>Subfeed Title:</label><br>
  <%= text_field_tag  :'subfed[title]' %><br>

  <label>Subfeed Description:</label><br>
  <%= text_field_tag  :'subfed[content]' %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Update" %>
<% end %>
