<h1><%= @subfed.title %></h1>

<p><%= @subfed.content %></p>

<%= @subfed.posts.each do |post| %>
<p><%= link_to post.title, post_path(post) %></p>
<% end %>



<%= link_to "Back", subfeds_path %><br>
 <%= link_to "Edit Subfeed", edit_subfed_path(@subfed) %><br>
  <%= button_to "Delete Subfeed", subfed_path(@subfed), method: :delete %><br>
