<h1><%= @subfed.title %></h1>

<h2><%= @subfed.content %></h2>

<%= link_to "Back", subfeds_path %><br>
 <%= link_to "Edit Subfeed", edit_subfed_path(@subfed) %><br>
  <%= button_to "Delete Subfeed", subfed_path(@subfed), method: :delete %><br>
