<div>
<p><%= @subfed.title %></p>
<h1><%= @post.title  %></h1>
<h2><%= @post.summary %></h2>
</div>

<%= render partial: 'comments/form' %>

<h3>Comments: (<%= @post.comments.size %>) </h3><br>

<%= render partial: 'comments/comment', collection: @post.comments.reverse %>

<%= link_to "Back", subfeds_path(@subfed) %><br>
<%= link_to "Edit Post", edit_post_path(@post) %><br>
<%= button_to "Delete Post", post_path(@post), method: :delete %><br>
