<!-- <div>
<p><%= link_to @post.subfed.title, subfed_path(@post.subfed) %>, Created By: <%#= @post.user.username %> </p>

<h1><%= @post.title %></h1>
<h2><%= @post.summary %></h2>
</div>

<%= render partial: 'comments/form' %>

<h3>Comments: (<%= @post.comments.size %>) </h3><br>

<%= render partial: 'comments/comment', collection: @post.comments.reverse %>

<%= link_to "Back", subfeds_path(@subfed) %><br>
<%= link_to "Edit Post", edit_post_path(@post) %><br>
<%= button_to "Delete Post", post_path(@post), method: :delete %><br> -->

<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><%= link_to @post.subfed.title, subfed_path(@post.subfed) %></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><%= link_to "Back", subfeds_path(@subfed) %></li>
                <li class="current"><%= link_to @user.username, users_path %></li>
							</ul>
						</nav>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<header>
									<h2><%=@post.title %></h2>
									<p>Created By: <%= @post.user.username %> </p>
								</header>
								<p>
								  <%= @post.summary %>
								</p>
								<section>
                  <ul class="actions">
                    <li><%= link_to "Edit Post", edit_post_path(@post), class: "button icon solid fa-file-alt"  %></li>
                    <li><%= button_to "Delete Post", post_path(@post), class: "button icon solid fa-file-alt", method: :delete %></li>
                  </ul>
								</section>
							</article>
              <%= render partial: 'comments/form' %>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">
							<div class="col-8 col-12-medium">
								<section>
									<header>
										<h2>Blandit nisl adipiscing</h2>
									</header>
									<ul class="dates">
										<li>
											<span class="date">Jan <strong>27</strong></span>
											<h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
											<p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
										</li>
										<li>
											<span class="date">Jan <strong>23</strong></span>
											<h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
											<p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
										</li>
										<li>
											<span class="date">Jan <strong>15</strong></span>
											<h3><a href="#">Magna tempus lorem feugiat</a></h3>
											<p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
										</li>
										<li>
											<span class="date">Jan <strong>12</strong></span>
											<h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
											<p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
										</li>
										<li>
											<span class="date">Jan <strong>10</strong></span>
											<h3><a href="#">Blandit tempus aliquam?</a></h3>
											<p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
										</li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section>
									<header>
										<h2>What's this all about?</h2>
									</header>
									<a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
									<p>
										This is <strong>Dopetrope</strong> a free, fully responsive HTML5 site template by
										<a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
										the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project &ndash; just don't forget to credit us!
									</p>
									<footer>
										<ul class="actions">
											<li><a href="#" class="button">Find out more</a></li>
										</ul>
									</footer>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">

							</div>
						</div>
					</div>
				</section>

		</div>

	</body>
</html>
