<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<body class="no-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><%= link_to @post.subfed.title, subfed_path(@post.subfed) %></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><%= link_to "Back", subfed_path(@post.subfed) %></li>
                <li class="current"><%= link_to @user.username, users_path %></li>
							</ul>
						</nav>
          </section>

			<!-- Main -->
				<section id="main">
					<div class="container">

						<!-- Content -->
							<article class="box post">
								<header>
									<h2><%=@post.title %></h2>
									<p>Created By: <%= @post.user.username %> </p>
								</header>
								<p>
								  <%= @post.summary %>
								</p>
								<section>
									<% if @post.user == @user %>
                  <ul class="actions">
                    <li><%= link_to "Edit Post", edit_post_path(@post), class: "button icon solid fa-file-alt" %></li>
                    <li><%= button_to "Delete Post", post_path(@post), class: "button icon solid fa-file-alt", method: :delete %></li>
                  </ul>
									<% end %>
								</section>
							</article>
              <%= render partial: 'comments/form' %>
					</div>
					<% @post.comments.each do |comment| %>
					<div class="container">
								<article class="box post">
									<header>
										<h3 class="comment">Created By: <%= comment.user.username %></h3>
									</header>
									<p class="comment"><%= comment.content %></p><br>
								</article>
							</div><br>
						<% end %>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<div class="row">

							<div class="col-8 col-12-medium">
							</div>
							<div class="col-4 col-12-medium">
							</div>
							<div class="col-4 col-6-medium col-12-small">

							</div>
						</div>
					</div>
				</section>

		</div>

	</body>
</html>
