<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'main' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Feddit</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />

</head>

  <body>
    <% flash.each do |name, msg| %>
      <div class = "flash">
      <%= msg %>
    </div>
    <% end %>
    <%= yield :form_errors %>
    <%= yield %>



    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/jquery.dropotron.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>
  </body>

  <footer>
    <!-- Copyright -->
      <div id="copyright">
        <ul class="links">
          <li>&copy; Feddit. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </footer>
</html>
